<div id="file-attachment-container" class="container-fuild" cg-busy="vm.httpPromises">
    <div class="row">
        <div class="col-lg-12">
            <table st-table="vm.attachedFileList"
                   st-safe-src="vm.attachedFileListSource"
                   class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="t-header">FileName</th>
                        <th class="t-header">Origin</th>
                        <th class="t-header">Uploaded By</th>
                        <th class="t-header">Creation Date</th>
                        <th class="t-header">Comment</th>
                        <th class="t-header">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="attachedFileEntry in vm.attachedFileList">
                        <td>{{ attachedFileEntry.FileName }}</td>
                        <td>{{ attachedFileEntry.Origin }}</td>
                        <td>{{ attachedFileEntry.UploadedBy }}</td>
                        <td>{{ attachedFileEntry.CreationDate }}</td>
                        <td>{{ attachedFileEntry.Comment }}</td>
                        <td>
                            <button type="button"
                                    ng-click="vm.downloadAttachedFile(attachedFileEntry)" class="btn btn-sm">
                                <i class="fa fa-download" aria-hidden="true"></i>
                            </button>
                            <a id="{{ vm.fileAttachmentDownloadLinkElementId }}"
                               class="ng-hide"
                               target="_self">
                            </a>
                            <button type="button" ng-click="vm.deleteAttachedFile(attachedFileEntry)" class="btn btn-sm">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
                <!--<tfoot>-->
                <tfoot ng-show="vm.atttachedFileList && (vm.attachedFileList.length > vm.nbOfItemsPerPage)">
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-pagination st-items-by-page="vm.nbOfItemsPerPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <input ngf-select
                   id="input-file-select-field"
                   type="file"
                   ng-model="vm.fileToUpload"
                   ngf-change="vm.fileSelected($file, $event)"
                   ngf-multiple="false" />

            <button id="select-bulk-file-btn"
                    class="btn"
                    type="button"
                    ng-click="vm.openSelectFileDialog()"
                    ng-disabled="vm.isSelectFileBtnDisabled()">
                Attach File
                <!--TODO MGA i18n-->
            </button>
        </div>
    </div>
</div>