#file-attachment-container .upload-file-drop-zone {
    border: 2px dashed #555;
    color: #222;
    background: #fafafa;
    min-height: 50px;
    padding: 20px 20px;
    text-align: center;
    cursor: pointer;
}

    #file-attachment-container .upload-file-drop-zone.dragover,
    #file-attachment-container .upload-file-drop-zone:hover {
        border: 2px dashed #98B9BF;
        /*border: 2px dashed #447f8b;*/
        background: white;
    }

#file-attachment-container .upload-file-drag-and-drop-msg {
    margin: 0.66em 0;
    font-size: 20px;
    font-weight: 300;
}

#file-attachment-container .valid-file-alert-box,
#file-attachment-container .invalid-file-alert-box {
    /*background: #98B9BF;*/
}

#file-attachment-container .file-upload-alert-action-btns {
    padding: 24px 0;
}

#file-attachment-container #input-file-select-field {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    border: none;
    margin: 0;
    padding: 0;
}

#file-attachment-container #select-file-btn {
    /*margin: auto;*/
    /*float: none; */
    margin: 20px 20px;
    clear: both;
    line-height: 30px;
    text-align: center;
}

#file-attachment-container #file-attachment-table tbody > tr > td {
    vertical-align: middle;
    padding: 5px 10px;
}

#file-attachment-container #file-attachment-table .align-text-with-btn-inside-table-cell {
    display: inline-block;
    padding: 5px 10px;
}

#file-attachment-container #input-comment-form-control {
    display: inline-block;
    float: left;
    width: 77%;
    min-width: 200px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

#file-attachment-container #input-comment-form-control .help-block {
    margin-bottom: 0;
}

#file-attachment-container #edit-comment-action-btns {
    display: inline-block;
    float: right;
    width: 23%;
    min-width: 90px;
    text-align: center;
    vertical-align: middle;
}

#file-attachment-container .td-edit-comment-mode {
    min-width: 500px; /*enlarge column to give all-space-treatment for comment*/
}

#file-attachment-container #edit-comment-action-btns button {
    /*float: right;*/
}
